$color-keyboard: #8FAFB4;
$color-key: #4C6568;
$color-function-key: #3E4C4E;
$color-activ: #95D3DD;
$color-click: #01DDFF;
$color-body: #E3FBFF;

body {
    margin: 0;
    padding: 0;
    background-color: $color-body;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area {
    font-family: 'Merriweather';
    width: 760px;
    height: 200px;
    margin: 100px auto 0;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 740px;
    height: 240px;
    background-color: $color-keyboard;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
}

.keys {
    font-family: 'Macondo';
    height: 30px;
    border-radius: 3px;
    vertical-align: middle;
    padding-top:10px;
    text-align: center;
    cursor: pointer;
    transition: border-radius 0.2s, background-color 0.2s;
    &:hover {
        background-color: $color-activ;
        color: black;
    }
}

.keys-letter {
    width: 40px;
    background-color: $color-key;
}

.keys-func {
    width: 40px;
    background-color: $color-function-key;
}

.keys-space {
    width: 340px;
    background-color: $color-key;
}

.keys-long {
    width: 90px;
    background-color: $color-function-key;
}

.click {
    background-color: $color-click;
    border-radius: 100px;
    color: black;
    &:hover {
        background-color: $color-click;
    }
}